@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<h2>Roles</h2>
<partial name="RoleForm" model="new RoleFormVM()" />
<table class="table table-striped mt-4">
    <thead>
        <tr class="bg-primary text-white">
            <th>Id</th>
            <th>Role Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
